<!-- NOTE this is identical to header from eseaoutdoorsuk-map/index.html -->
<header class="p-2 text-bg-light">
    <nav class="navbar navbar-expand-md navbar-light fixed-top custom-header-bg">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo.svg" width="40" height="40" alt=""></a>
        <a class="navbar-brand fw-bold" href="/">ESEA Outdoors UK</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="nav col-auto me-auto mb-0">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-black">About</a></li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-2 text-black" href="#" id="communityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Community</a>
                  <ul class="dropdown-menu" aria-labelledby="communityDropdown">
                      <li class="nav-item"><a class="dropdown-item" href="/#signup">Join us</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/guidelines/">Guidelines</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/map/">Map</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-2 text-black" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                  <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                      <li class="nav-item"><a class="dropdown-item" href="/resources/">All Resources</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/resources#press">All Press</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/impact-2024" target="_blank">2024 Impact Report</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/2024-bmc-hillwalking" target="_blank">2024 Feature: BMC Hillwalking</a></li>
                      <li class="nav-item"><a class="dropdown-item" href="/2024-bmc-summit" target="_blank">2024 Feature: BMC Summit</a></li>
                  </ul>
              </li>

          </ul>
      
          <div class="text-end">
              <a href="https://donate.stripe.com/9B628t6KC7wQ5Yu4XYgjC00" class="btn ms-3 donate-btn align-middle" target="_blank" rel="noopener">
                  Donate
              </a>            
              <a href="https://instagram.com/eseaoutdoorsuk" class="text-dark" target="_blank">
                  <i class="bi bi-instagram fs-3"></i>
              </a>
          </div>
      </div>
    </div>
  </nav>
</header>