.background-layout {
    background-image: url('/assets/img/bg.jpg');
    background-size: cover; /* Adjust to make it cover the whole area */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure it covers the entire viewport */
  }  

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-link {
    color: black !important;
}
body {
    padding-top: 56px; /* Matches the navbar height */
}

.custom-header-bg {
    background-color: #EDE7D9 !important;
}

h2, h3, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}
p a {
    text-decoration: underline;
    color: white;
}
.hero {
    color: white;
    padding: 1.5rem 4rem 1.5rem 4rem; /* top right bottom left */
    text-align: left;
}
.hero-light {
    background: #0C5044;
}
.hero-dark {
    background: #0A4036;
}
.hero-white {
    background: #DEFFF9;
    color: black;
}
.hero-transparent {
    background: #FFFFFF00;
    height: 40vh;
}
.hero-logo {
  max-width: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.hero-body {
    line-height: 2
}
.hero-semibold {
    font-weight: 500
}
.hero-buttons a {
  width: max-content;
  display: inline-block;
  margin: 0.5rem 0em;
  padding: 0.75rem 1.2rem;
  border-radius: 40px;
}
.hero-buttons-block a {
    display: block;
}
.btn-primary {
  background-color: #ffffff1c;
  color: white;
  border: 0;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: #FFFFFF42;
}
.btn-icon{
    border-radius: 80px !important;
}
.narrow-container {
    max-width: 650px;
    margin: 0 auto;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    overflow: hidden; /* Ensures rounded corners clip child elements */
}
html {
    scroll-behavior: smooth;
}
.br-page {
    border-radius: 45px;
}
.br-top {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.br-bottom {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Space between images */
    justify-content: center;
    align-items: center; /* Centers images vertically */
    padding: 1rem 0;
    height: 300px; /* Set a fixed height for vertical centering */
}
.gallery a {
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.gallery a:hover {
    transform: scale(1.05); /* Optional: Zoom effect on hover */
}
.gallery img {
    width: 100px; /* Adjust to fit your layout */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the logo fits well inside its box */
    display: block;
}
