.background-layout {
    background-image: url('/assets/img/bg.jpg');
    background-size: cover; /* Adjust to make it cover the whole area */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure it covers the entire viewport */
  }

/* CONTENT */
.hero {
    color: white;
    padding: 1.5rem 4rem; /* tb-lr or t-r-b-l */
    text-align: left;
}
.hero-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
@media (max-width: 767px) {
    .hero {
        padding: 1.5rem 2rem;
    }
    .hero-title {
        font-size: 2rem;
    }
}
.hero-light {
    background: #0C5044;
}
.hero-dark {
    background: #0A4036;
}
.hero-white {
    background: #DEFFF9;
    color: black;
}
.hero-transparent {
    background: #FFFFFF00;
    height: 30vh;
}
.hero-logo {
  max-width: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.hero-body {
    line-height: 2
}
.hero-ol {
    padding-left: 15px;
}
.hero-semibold {
    font-weight: 500
}
.hero-url {
    text-decoration: underline;
    color: white;
}
.hero-buttons a {
  width: max-content;
  display: inline-block;
  margin: 0.5rem 0em;
  padding: 0.75rem 1.2rem;
  border-radius: 40px;
  text-overflow: ellipsis; /* Adds ellipsis */
  overflow: hidden; /* Ensures the content is hidden if it overflows */
  white-space: nowrap; /* Prevents the text from wrapping */
}
.hero-buttons-block a {
    display: block;
}
.btn-primary {
  background-color: #ffffff1c;
  color: white;
  border: 0;
  font-weight: bold;
  max-width: 100%; /* Ensure it doesn't overflow container */
  box-sizing: border-box; /* Keeps padding included in the width calculation */
}
.btn-primary:hover{
  background-color: #FFFFFF42;
}
.btn-icon{
    border-radius: 80px !important;
}
.narrow-container {
    max-width: 650px;
    margin: 0 auto;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    overflow: hidden; /* Ensures rounded corners clip child elements */
}
html {
    scroll-behavior: smooth;
}
.br-page {
    border-radius: 45px;
}
.br-top {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.br-bottom {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

/* GALLERY */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Space between images */
    justify-content: center;
    align-items: center; /* Centers images vertically */
    padding: 1rem 0;
}
.gallery a {
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.gallery a:hover {
    transform: scale(1.05); /* Optional: Zoom effect on hover */
}
.gallery img {
    width: 100px; /* Adjust to fit your layout */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the logo fits well inside its box */
    display: block;
}