---
layout: default
---
<div class="background-layout">
<div class="very-narrow-container mx-auto br-page">
 
<section class="hero hero-light br-bottom">
  <img src="/assets/img/logo.svg" alt="ESEA Outdoors UK Logo" class="hero-logo">
  <h1 class="hero-title">{{ site.title }}</h1>
  <p class="hero-description">
    We are a grassroots community celebrating East & Southeast Asian representation in the UK outdoors and fighting racism.
  </p>
  <div class="hero-buttons">
    <a href="https://instagram.com/eseaoutdoorsuk" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-instagram fs-5"></i>
    </a>
    <a href="mailto:eseaoutdoorsuk@gmail.com" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-envelope fs-5"></i>
    </a>
  </div>
</section>

<div class="scroller" id="scroller"></div>

<section class="hero hero-transparent">
</section>

<section class="hero hero-light br-top">
  <div class="hero-buttons hero-buttons-block">
    <a href="/#signup" class="btn btn-primary">💛 Join the community...</a>
    <a href="/resources" class="btn btn-primary">📚 Resources: educate yourself</a>
    <a href="/#signup" class="btn btn-primary">🥾 Sign-up for upcoming events...</a>
    <a href="/impact-2024" class="btn btn-primary" target="_blank">📚 Read: 2024 Impact Report</a>
    <a href="https://eseaoutdoorsuk.substack.com/p/east-and-southeast-asian-people-go-outdoors-too" class="btn btn-primary" target="_blank">📚 Read: East & Southeast Asian people go outdoors too (BMC article)</a>
    <a href="https://eseaoutdoorsuk.substack.com/" class="btn btn-primary" target="_blank">📕 Read: Substack</a>
    <a href="https://donate.stripe.com/9B628t6KC7wQ5Yu4XYgjC00" class="btn btn-primary" target="_blank">🫶 Donate to ESEA Outdoors</a>
  </div>
  <div class="mt-4"><em>#diversifyoutdoorsuk #representationmatters</em></div>
</section>

<section class="hero hero-dark">
  <p class="hero-body hero-semibold">
    ESEA people and voices are underrepresented and unheard in conversations about diversity in the outdoors.
  </p>
  <p class="hero-body hero-semibold">
    🏞️ At ESEA Outdoors UK we are:
  </p>
  <ol class="hero-body hero-ol">
    <li>fighting racism by celebrating ESEA representation, resilience and belonging in the outdoors</li>
    <li>building community and empowering ESEA <span id="signup">people</span> in the outdoors around the UK - our members are based in Glasgow, Bristol, Birmingham, Liverpool, Edinburgh, London and more!</li>
  </ol> 
  <p class="hero-body hero-semibold">
    <a href="/map" class="hero-url" target="_blank">🗺️ Map of all our members and 2025 events</a>
  </p>
</section>

<section class="hero hero-light">
  <p class="hero-body hero-semibold">
    💛 Join our community & events if you:
  </p>
  <ol class="hero-body hero-ol">
    <li>want to fight racism with us</li>
    <li>want to hear about & plan meetups</li>
    <li>identify as of ESEA heritage</li>
  </ol>
  <p class="hero-body hero-semibold">
    We recommend downloading the Heylo app to not miss important community and event updates: 
  </p>
  <div class="hero-buttons">
    <a href="https://apps.apple.com/us/app/heylo-group-platform/id1445966180" class="btn btn-primary" target="_blank">iOS - Heylo</a>
    <a href="https://play.google.com/store/apps/details?id=com.piccup" class="btn btn-primary" target="_blank">Android - Heylo</a>
  </div>
  <p class="hero-body hero-semibold" style="text-decoration: underline;">
    <a href="https://heylo.group/eseaoutdoorsuk" class="hero-url" target="_blank">...then join our Heylo community here.</a>
  </p>
  <!-- <p class="hero-body hero-semibold">
    <a href="https://heylo.group/eseaoutdoorsuk" class="hero-url" target="_blank" style="text-decoration: underline;">...then join our Heylo community here.</a>
    <br>Upcoming events on Heylo:
  </p>
  <div class="hero-buttons hero-buttons-block">
    <a href="https://www.heylo.com/invite/b48effb7-e1bd-45a5-abfb-da42aab07e3d" class="btn btn-primary">🥾 Sign-up: Peak District walk 6th Sept</a>
    <a href="https://www.heylo.com/invite/737c5bf0-2655-4ea9-8765-3f531101a991" class="btn btn-primary">🪨 Sign-up: Birmingham climb social 20th Sept</a>
    <a href="https://www.heylo.com/invite/fda62b14-0be3-4dcb-bbf9-ac3e8205adfe" class="btn btn-primary">🪨 Sign-up: Mcr climb social 13th Sept</a>
    <a href="https://www.heylo.com/invite/829b5f83-603d-408f-bb8c-76f7c761789c" class="btn btn-primary">🥾 Sign-up: Scotland walk 13th Sept</a>
    <a href="https://www.heylo.com/invite/647e718a-4d56-4def-9291-6ba261b77a70" class="btn btn-primary">🪨 Sign-up: London climb social 4th Sept</a>    
  </div> -->
</section>


<section class="hero hero-dark">
  <p class="hero-body hero-semibold">
    <a href="https://donate.stripe.com/9B628t6KC7wQ5Yu4XYgjC00" class="hero-url" style="text-decoration:none" target="_blank">🫶 Donate to ESEA Outdoors!</a>
  </p>
  <p class="hero-body">
    Please donate to help us fund core costs and subsidise our events for members who face financial barriers in accessing the outdoors.
  </p>
  <p class="hero-body">
    ESEA Outdoors is completely volunteer-run so every penny directly supports our mission.
  </p>
  <p class="hero-body">
    What does your donation impact?
    <a href="https://eseaoutdoors.uk/impact-2024/" class="hero-url" target="_blank" style="text-decoration: underline;">Read our Impact Report here.</a>
  </p>
  <div class="hero-buttons hero-buttons-block">
    <a href="https://donate.stripe.com/9B628t6KC7wQ5Yu4XYgjC00" class="btn btn-primary" target="_blank">Donate to ESEA Outdoors UK</a>
  </div>
</section>

<section class="hero hero-light br-bottom">
  <p class="hero-body" style="font-style: italic;">
    Get in touch! DM us on Instagram, or email below for a chat, press enquiries or collaborations.
  </p>
  <div class="hero-buttons mt-4">
    <a href="https://instagram.com/eseaoutdoorsuk" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-instagram fs-5"></i>
    </a>
    <a href="mailto:eseaoutdoorsuk@gmail.com" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-envelope fs-5"></i>
    </a>
  </div>
</section>






<section class="hero hero-transparent">
</section>

<section class="hero hero-white br-top">
  <p class="hero-body hero-semibold">
    Our friends, partners and funders...
  </p>

  <div class="gallery">
    <a href="https://www.alltheelements.co" target="_blank">
      <img src="/assets/img/partners/alltheelements.png" alt="All The Elements">
    </a>
    <a href="https://www.besean.co.uk" target="_blank">
      <img src="/assets/img/partners/besean.png" alt="besea.n">
    </a>
    <a href="https://www.yha.org.uk/outdoor-citizens" target="_blank">
      <img src="/assets/img/partners/yha.png" alt="YHA Outdoor Citizens">
    </a>
    <a href="https://www.lakedistrictfoundation.org" target="_blank">
      <img src="/assets/img/partners/ldf.png" alt="Lake District Foundation">
    </a>
    <a href="https://www.everybodyoutdoors.co.uk" target="_blank">
      <img src="/assets/img/partners/ebo.png" alt="Every Body Outdoors">
    </a>
    <a href="https://nationalparkcity.london" target="_blank">
      <img src="/assets/img/partners/lnpc.png" alt="London National Park City">
    </a>
    <a href="https://alpkit.com/pages/foundation" target="_blank">
      <img src="/assets/img/partners/alpkit.png" alt="Alpkit Foundation">
    </a>
    <a href="https://kentdowns.org.uk/our-projects/putting-down-routes" target="_blank">
      <img src="/assets/img/partners/kdnl.png" alt="Kent Downs National Landscape">
    </a>
    <a href="https://www.thebmc.co.uk" target="_blank">
      <img src="/assets/img/partners/bmc.png" alt="BMC">
    </a>
    <a href="https://www.oureaevents.com" target="_blank">
      <img src="/assets/img/partners/ourea.png" alt="Ourea Events">
    </a>
    <a href="https://www.thisisyonder.com" target="_blank">
      <img src="/assets/img/partners/yonder.png" alt="Yonder Climbing">
    </a>
    <a href="https://beta.slowways.org" target="_blank">
      <img src="/assets/img/partners/slowways.png" alt="Slow Ways">
    </a>
    <a href="https://www.theclimbingacademy.com/locations/the-newsroom" target="_blank">
      <img src="/assets/img/partners/tca.png" alt="TCA Glasgow">
    </a>
    <a href="https://www.depotclimbing.co.uk/manchester/" target="_blank">
      <img src="/assets/img/partners/depot.svg" alt="Depot Climbing Manchester">
    </a>
    <a href="https://www.rise-climbing.com/" target="_blank">
      <img src="/assets/img/partners/rise.png" alt="Rise Climbing">
    </a>
    <a href="https://efht.org.uk/" target="_blank">
      <img src="/assets/img/partners/efht.jpg" alt="Epping Forest Heritage Trust">
    </a>
  </div>

</section>

</div>
</div>
<script>
  const speed = 300;
  window.addEventListener('scroll', () => {
    document.getElementById('scroller').style.opacity = Math.max(0, 1 - window.scrollY / speed)
  })
</script>