---
layout: default_bg
---
<div class="narrow-container mx-auto br-page">
 
<section class="hero hero-light br-bottom">
  <img src="/assets/img/logo.svg" alt="ESEA Outdoors UK Logo" class="hero-logo">
  <h1 class="hero-title">{{ site.title }}</h1>
  <p class="hero-description">
    We're connecting East & Southeast Asian outdoor enthusiasts across the UK and celebrating representation.
  </p>
</section>

<section class="hero hero-transparent">
</section>

<section class="hero hero-light br-top">
  <div class="hero-buttons mt-4">
    <a href="https://instagram.com/eseaoutdoorsuk" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-instagram fs-5"></i>
    </a>
    <a href="mailto:eseaoutdoorsuk@gmail.com" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-envelope fs-5"></i>
    </a>
  </div>
  <div class="hero-buttons hero-buttons-block">
    <a href="/#signup" class="btn btn-primary">💛 Join the community...</a>
    <a href="/resources" class="btn btn-primary">📚 Resources</a>
    <a href="/#signup" class="btn btn-primary">🥾 Sign-up for upcoming events...</a>
    <a href="https://www.eventbrite.co.uk/e/folkestone-to-dover-with-esea-outdoors-uk-tickets-1081589265609?aff=ESEAOutdoorsUK" class="btn btn-primary" target="_blank">🥾 Sign-up for Kent Downs walk...</a>
  </div>
  <div class="mt-4"><em>#diversifyoutdoorsuk #representationmatters</em></div>
</section>

<section class="hero hero-dark">
  <p class="hero-body hero-semibold">
    ESEA (pronounced "E-C") people are underrepresented in UK outdoors media and our voices and issues are unheard in conversations about diversity in the outdoors.
  </p>
  <p class="hero-body hero-semibold">
    🏞️ At ESEA Outdoors UK we are:
  </p>
  <ol class="hero-body">
    <li>fighting racism by celebrating ESEA representation, inclusion and diversity in the outdoors</li>
    <li>building community and connecting people through the outdoors, and using social media to empower isolated ESEA people around the country (especially those outside London)</li>
  </ol>
</section>

<section class="hero hero-light" id="signup">
  <p class="hero-body hero-semibold">
    💛 Join our community if you…
  </p>
  <ol class="hero-body">
    <li>to shout about anti-racism, representation and inclusion</li>
    <li>want to hear about and help plan outdoors meetups and events</li>
    <li>identify as of ESEA heritage</li>
  </ol>
  <p class="hero-body hero-semibold">
    To sign-up, first download the Heylo app...
  </p>
  <div class="hero-buttons">
    <a href="https://apps.apple.com/us/app/heylo-group-platform/id1445966180" class="btn btn-primary" target="_blank">iOS - Heylo</a>
    <a href="https://play.google.com/store/apps/details?id=com.piccup" class="btn btn-primary" target="_blank">Android - Heylo</a>
  </div>
  <p class="hero-body hero-semibold" style="text-decoration: underline;">
    <a href="https://heylo.group/eseaoutdoorsuk" target="_blank">...then join our Heylo community here.</a>
  </p>
</section>

<section class="hero hero-dark br-bottom">
  <p class="hero-body hero-semibold">
    <a href="https://eseaoutdoorsuk.github.io/map" target="_blank">🗺️ Map of all our members</a>
  </p>
  <p class="hero-body" style="font-style: italic;">
    To get in touch regarding press inquiries or collaborations, please contact <a href="https://linktr.ee/andrew.wang" target="_blank">Andrew</a> below.
  </p>
  <div class="hero-buttons mt-4">
    <a href="https://instagram.com/eseaoutdoorsuk" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-instagram fs-5"></i>
    </a>
    <a href="mailto:eseaoutdoorsuk@gmail.com" class="btn btn-primary btn-icon" target="_blank">
      <i class="bi bi-envelope fs-5"></i>
    </a>
  </div>
</section>

<section class="hero hero-transparent">
</section>

<section class="hero hero-white br-top">
  <p class="hero-body hero-semibold">
    Our friends...
  </p>

  <div class="gallery">
    <a href="https://www.alltheelements.co" target="_blank">
      <img src="/assets/img/partners/alltheelements.png" alt="All The Elements">
    </a>
    <a href="https://www.besean.co.uk" target="_blank">
      <img src="/assets/img/partners/besean.png" alt="besea.n">
    </a>
    <a href="https://www.yha.org.uk/outdoor-citizens" target="_blank">
      <img src="/assets/img/partners/yha.png" alt="YHA Outdoor Citizens">
    </a>
    <a href="https://www.lakedistrictfoundation.org" target="_blank">
      <img src="/assets/img/partners/ldf.png" alt="Lake District Foundation">
    </a>
    <a href="https://www.everybodyoutdoors.co.uk" target="_blank">
      <img src="/assets/img/partners/ebo.png" alt="Every Body Outdoors">
    </a>
    <a href="https://nationalparkcity.london" target="_blank">
      <img src="/assets/img/partners/lnpc.png" alt="London National Park City">
    </a>
    <a href="https://alpkit.com/pages/foundation" target="_blank">
      <img src="/assets/img/partners/alpkit.png" alt="Alpkit Foundation">
    </a>
    <a href="https://kentdowns.org.uk/our-projects/putting-down-routes" target="_blank">
      <img src="/assets/img/partners/kdnl.png" alt="Kent Downs National Landscape">
    </a>
    <a href="https://www.thebmc.co.uk" target="_blank">
      <img src="/assets/img/partners/bmc.png" alt="BMC">
    </a>
    <a href="https://www.oureaevents.com" target="_blank">
      <img src="/assets/img/partners/ourea.png" alt="Ourea Events">
    </a>
    <a href="https://www.thisisyonder.com" target="_blank">
      <img src="/assets/img/partners/yonder.png" alt="Yonder Climbing">
    </a>
    <a href="https://beta.slowways.org" target="_blank">
      <img src="/assets/img/partners/slowways.png" alt="Slow Ways">
    </a>
    <a href="https://www.theclimbingacademy.com/locations/the-newsroom" target="_blank">
      <img src="/assets/img/partners/tca.png" alt="TCA Glasgow">
    </a>
  </div>

</section>

</div>